header.container
  .row.d-flex.justify-content-around
    .col-md-2.col-sm-4.col-2((click)="onLogout()" style="background-color:white;")
      i.fa.fa-user-circle.fa-2x.d-flex.justify-content-center
    .col-md-8.col-sm-4.col-8
      form.headerSearchBox
        input(type='text' placeholder='Search..' name='search')
        button(type='submit')
          i.fa.fa-search
    .col-md-2.col-sm-4.col-2(style="background-color:white;")
      i.fa.fa-comments.fa-2x.d-flex.justify-content-center
  .row.mt-1
    .col-sm-12.col-md-12.col-12(style='background-color: silver;')
      span.py-5.text-capitalize {{userName}}
