footer.container.fixed-bottom(style="height:65px;")
  .row.d-flex.justify-content-around.border(style="padding-top:8px;")
    .col-md-2.col-sm-2.col-2.p-0(routerLink="")
      i.fa.fa-home.fa-2x.d-flex.justify-content-center.text-center
      h6.text-center Home
    .col-md-2.col-sm-2.col-2.p-0(routerLink="/BackendAccountVerfication")
      i.fa.fa-tasks.fa-2x.d-flex.justify-content-center
      h6.text-center My Task
    .col-md-2.col-sm-2.col-2.p-0
      i.fa.fa-file.fa-2x.d-flex.justify-content-center
      h6.text-center Invoice
    .col-md-2.col-sm-2.col-2.p-0
      i.fa.fa-plus.fa-2x.d-flex.justify-content-center
      h6.text-center Post
    .col-md-2.col-sm-2.col-2.p-0
      i.fa.fa-bell.fa-2x.d-flex.justify-content-center
      h6(style="margin-left:-8px;") Notification
