.jumbotron.text-uppercase(style="background-color: #214264;color:white")
    .mx-2 Backend Account Verification
      i.fa.fa-chevron-circle-left(style="font-size:25px;float:right" routerLink="/")

.container
  .mt-5
    h4 Pedding Approvals
    table.table.table-striped
      thead
        tr.table-info
          th(scope='col') Name
          th(scope='col') Type
          th(scope='col') Document
          th(scope='col') Approve
      tbody
        tr
          td(scope='row')
            | Ram Nararaj
          td Proof
          td Link
          td Yes/No/More info
  .mt-5
    h4 Activity List
    .table-responsive-md
      table.table.table-striped.table-hover
        thead
          tr.table-info
            th(scope='col') Name
            th(scope='col') Type
            th(scope='col') Document
            th(scope='col') Approve
        tbody
          tr
            td.span3
              | Ram Nararaj
            td.span3 Proof
            td.span3 Link
            td.span3 Yes
          tr
            td
              | Ram Nararaj
            td Proof
            td Link
            td Yes
          tr
            td
              | Ram Nararaj
            td Proof
            td Link
            td Yes
          tr
            td
              | Ram Nararaj
            td Proof
            td Link
            td Yes
