.container
  .row
    .col-md-7.mx-auto
      #first
        .myform.form
          .logo.mb-3
            .col-md-12.text-center
              h5 Join now, it's free
          
          .btn.alert-light.text-uppercase 
             strong join with google or facebook
          br
          .col-md-12
              .login-or
                span.span-or OR
                hr.hr-or
          form(action='' method='post' name='login')
            .form-group
            input#fname.form-control(#fname type='text' name='fname' aria-describedby='fname' placeholder='First name*')
            .form-group
            input#lname.form-control(#lname type='text' name='lname' aria-describedby='lname' placeholder='last name*')
            .form-group
            input#email.form-control(#email type='email' name='email' aria-describedby='emailHelp' placeholder='Email*')
            .form-group
            input#password.form-control(#password type='password' name='password' aria-describedby='emailHelp' placeholder='Password*')
            .form-group

            h6.text-danger {{error}}

            .col-md-12.text-center
              button.btn.btn-outline-light.mybtn.btn-sm.tx-tfm((click)='onJoin()') Agree and join
            br
            p.text-center(style="font-size:13px;") You agree to MarketSpace LLC's User agreement, 
              br
              a(href='#' style="color:white;text-decoration:none;") Privacy & Cookie Policy