.container
  br
  h5 2 step(s) left to complete your profile
  .progress(style="height:5px;")
    .progress-bar.bg-success(style='width:20%;height:5px;')
    .progress-bar.bg-success(style='width:20%;margin-left:5px;height:5px;')
    .progress-bar.bg-success(style='width:20%;margin-left:5px;height:5px;')
    .progress-bar.bg-danger(style='width:20%;margin-left:5px;height:5px;')
    .progress-bar.bg-danger(style='width:20%;margin-left:5px;height:5px;')
br
hr(style="border:3px solid lightgrey")

.container
  br
  button.btn.btn-link(style="color:darkslategrey;" routerLink="/AccountSetUp")
    i.fa.fa-drivers-license-o.fa-2x
    strong(style="font-size:20px;margin-left:15px;padding-top:-17px;") Account Setup

  br
  br
  button.btn.btn-link(style="color:darkslategrey;" routerLink="/AccountVerfication")
    i.fa.fa-check-circle.fa-2x
    strong(style="font-size:20px;margin-left:15px;padding-top:-17px;") Verify Credentials

  br
  br
  button.btn.btn-link(style="color:darkslategrey;" routerLink="/userManagement")
    i.fa.fa-users.fa-2x
    strong(style="font-size:20px;margin-left:15px;padding-top:-17px;") Add Users

  br
  br
  button.btn.btn-link(style="color:darkslategrey;")
    i.fa.fa-building-o.fa-2x
    strong(style="font-size:20px;margin-left:15px;padding-top:-17px;") Add Company

  br
  br
  button.btn.btn-link(style="color:darkslategrey;")
    i.fa.fa-scissors.fa-2x
    strong(style="font-size:20px;margin-left:15px;padding-top:-17px;") My Rewards